@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --font-family: "Roboto", sans-serif; 
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family:var(--font-family);
    background-color: rgb(212, 212, 212);
}

img{
    width: 70px;
    height: 70px;
    border-radius: 40px;
}

.container{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    height: 100vh;
}

.nav-section{
    grid-row: 1/-1;
    background-color: #2281b7;
    color: white;
    display: grid;
    grid-template-rows: 60px 370px 140px;
    gap: 60px;
    padding: 30px;
}

.nav-section > div{
    display: grid;
    gap: 20px;
}


.nav-item{
    display:grid;
    grid-template-columns: repeat(2, 50px);
    gap: 8px;
    justify-items: start;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
}
.nav-item > svg{
    width: 40px;
    height: 40px;
    fill: white;
}

.heading-section{
    display:grid;
    grid-template-columns: repeat(2, 50px);
    gap: 8px;
    justify-items: start;
    align-items: center;
}
.heading-section > svg{
    width: 50px;
    height: 50px;
    fill: white;
}

.header{
    grid-column: 2/4;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.search-section{
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin-right: 40px; 
}

.search-bar-section{
    display: grid;
    grid-template-columns: 50px 3fr;
    width: 90%;
}

.search-bar-section > img{
    width: 35px;
    height: 35px;

}

#search-bar{
    height: 85%;
    border-radius: 24px;
    padding: 12px;
    border: none;
    background-color: rgb(233, 232, 232);
}


.profile-pic{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 12px;
}

.bell-ring{
    width: 35px;
    height: 35px;
}


.action-section{
    display: grid;
    grid-template-columns: 330px 1fr;
    align-items: center;
    align-content: center;
    margin-left: 60px;
    gap: 24rem;
    margin-bottom: 15px;
}

.action-section > div:first-child{
    display:  grid;
    grid-template-columns: 90px 1fr;
    align-items: center;
}

.action-section >div:first-child>img{
    width: 85px;
    height: 85px;
}

.action-section > div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
}

.action-btn{
    width: 50%;
    height: 3rem;
    border-radius: 24px;
    background-color: #2281b7;
    color: white;
    border: none;
}

.project-container{
    grid-column: 2/3;
    grid-row:2/4;
    padding: 20px;
}

.project-container > h2, .announcements > h2, .trending > h2{
    margin-bottom: 15px;
}
.project-item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.content-child{ 
    background-color: white;
    border-radius: 12px;
    height: 230px;
    padding: 20px;
    border-left: 13px solid orange;
}

.announcements{
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 20px;
    margin-right: 20px;
}

.announce-items{
    padding: 12px;
    border-bottom: 2px solid lightgrey;
}

.announce-items:last-child{
    border-bottom: none;
}


.announcements > div, .trending > div{
    background-color: white;
    padding: 20px;
    border-radius: 12px;
}

.trending{
    grid-column:3/4;
    grid-row: 3/4;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}


.trending-items{
    display: grid;
    grid-template-columns: repeat(2, 100px);
    align-items: center;
    justify-items: center;
    padding: 12px;
}
